<h1>The user name is {{title}}</h1>
<app-user-line></app-user-line>
<app-student-list>  </app-student-list>
<app-country-list>  </app-country-list>
<app-login> </app-login>
<button (click)="function('Mahendranath')">Click me</button>
<br>
<button (click)="getData('data')">Click me get data</button>
<br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="keyup event">
<button (click)="getData(box.value)">Click me</button>
<br>
<p>
    Display value is : {{displayVal}}
</p>
<br>
<input type="text" #box1 (keydown)="getData(box1.value)"  placeholder="keydown event">
<br>
<input type="text" #box2 (blur)="getData(box2.value)"  placeholder="blur event">
<br>
<input type="text" #box3 (input)="getData(box3.value)"  placeholder="input event">
<br>
<h2 (mouseover)="getData('mouse over event working')"> Mouse over event</h2>